
.font{
    font-family: 'Shadows Into Light', cursive;}

body{
    background-color: rgb(28, 88, 7);
}
header{
    color: aliceblue;
    font-size: 50px;
    margin-top:30px;
    margin-bottom: 30px;
    text-align: center; 
}
#copy {
    display: flex;
    border: 1px solid black;
    width: 100px;
    height: 150px;
    
}
.dealerFirstCard{
    display: none;
}
#playerTitles{
    font-size: 40px;
    font-weight: 900;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 20px;
}

.cards{
    display: flex;
    margin:25px;
    padding:10px;
    flex-wrap: wrap;
    margin-bottom: 0px;
}



.container{
    display: flex;
    justify-content: space-around;
    margin-inline-start: 17%;

}


.buttons{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.button{
    font-weight: 600;
    font-size:24px;
    background-color: seashell;
    border-radius: 8px;
    border: 2px solid rebeccapurple;
    color: rebeccapurple;
}
.card{
    flex-direction: column;
    background: white;
    border-radius: 5px;
    font-size: 25px;
    margin: 5px;
    animation: fadeIn 4s;
}
#cardTemp{
    display:none;
}

.card:has(.dealerFirstCard){
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}
.card:has(.Hearts){
    color: red;
}
.card:has(.Diamonds){
    color: red;
}

.displayMessage{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 10px;
}
.winLoseMsg{
    color:aqua;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    transition: opacity 3s ease;
    
}
.player{
    color:white;
}
.score{
    margin:0;
    font-size: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 32%;
    color: salmon;
}
.Diamonds:before{
    content: '♦';
    margin-left: 2px;
}
.Clubs:before{
    content:'♣';
    margin-left: 2px;
}
.Spades:before{
    content: '♠';
    margin-left: 2px;
}
.Hearts:before{
    content: '♥';
    margin-left: 2px;
}
.cardNum{
    margin-left: 4px;
}
#blankCard{
    margin:0;
}

#dealer{
    margin-inline-start: -5%;
}
#dealerWins{
    margin-inline-start: -15%;
}
#playerWins{
    margin-inline-start: -15%;
}
#p1{
    margin-inline-start: 0%;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeInText {
    from { opacity: 0; }
   to { opacity: 1; }
  }
  @-moz-keyframes fadeinText { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeinText { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeinText {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}