#copy {
    display: flex;
    border: 1px solid black;
    width: 100px;
    height: 150px;
    
}
.dealerFirstCard{
    display: none;
}
/* #cardNum:nth-of-type(1n+0){
    color:red;
} */
/* #cardTemp{
    position:relative;
    width:100px;
    height:150px;
    border: 1px solid black;

} */

.cards{
    display: flex;
    margin:25px;
    padding:10px;
}


.container{
    display: flex;
    justify-content: space-around;
    margin-inline-start: 10%;

}


.buttons{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 50px;

    
}

.displayMessage{
    display:flex;
    align-items: center;
    justify-content: center;
}
.winLoseMsg{
    display:flex;
    align-items: center;
    justify-content: center;
}
.score{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 30%;
}