body {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    min-height: 77.5vh;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 200px;
    color:cyan;
}
.button{
    position:relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 5vh;
}
#start{
    font-weight: 600;
    font-size:24px;
    background-color: seashell;
    border-radius: 8px;
    border: 2px solid rebeccapurple;
    color: rebeccapurple;
    position: relative;
}
.textBox{
    margin-top:100px;
    display: flex;
    justify-content: center;
}
.nameTextBox{
    font-size: 25px;
    height:40px;
    border: 5px rebeccapurple;
    border-radius: 10px;
}